@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

html,
body {
  margin: 0;
  padding: 0;
  font-family:Roboto;
  font-size: 10px;
  line-height: 3.5em;
  font-weight: 300;
}

h1,
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: Roboto Condensed;
}
h1{
    font-size: 9em;
    text-align: center;
    text-transform: uppercase;
}

h2{
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
    line-height: 4em;
}

h3{
    font-size: 4.2em;
    text-align: center;
    line-height: 1em;
}

h4{
    font-size: 1.5em;
    letter-spacing: 0.4px;
    line-height: 1em;
}

h5{
    font-size: 1.2em;
    line-height: 1em;
}

.nav-bar{
    background-color: rgb(25,33,41);
    
}

/*li{
    list-style: none;
}*/

.nav-bar a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

.header-design{
    height: 650px;
}
.header-design h2{
    color: white;
    text-shadow: #020819 8px -20px 9px;
}

.quote{
    font-size: 2.5em;
}